<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jass.css">
</head>
<body>
    <header>
        <h1>KYM Inventory Management Application</h1>
        <nav>
            {{#if loggedIn}}
                <a href="/profile">Profile</a> <!-- Link to profile page -->
                <a id="logout" href="#">Logout</a> <!-- Link to logout route -->
            {{else}}
                <a href="/login">Login</a> <!-- Link to login page -->
                <a href="/signup">Sign Up</a> <!-- Link to signup page -->
            {{/if}}
        </nav>
    </header>
    
    <main>
        {{{body}}} <!-- Content from other templates will be injected here -->
    </main>

    <footer>
        <p>&copy; 2024 KYM Inventory Management 💕</p>
    </footer>


    {{!-- <script src="/js/login.js"></script> --}}
    <script src="/js/logout.js"></script>
    {{!-- <script src="/js/profile.js"></script> --}}
    {{!-- <script src="/js/signup.js"></script> --}}


</body>
</html>
