{{!-- Homepage Template --}}

<section id="welcome">
    {{!<h2>Welcome to KYM Inventory Management</h2>}}
    {{#if loggedIn}}
        <h2>Welcome back, {{username}}! Access your inventory.</h2>
        {{else}}
            <h2>Please log in to access your inventory or sign up to create an account.</h2>
    {{/if}}
    {{!<button><a href="/Develop/public/js/login.js">Log In</a></button>
    <a href="/Develop/public/js/signup.js">Sign Up</a>--}}
</section>

