/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #F9FAFB;
  color: #333333;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Header styles */

header {
  background-color: #fff;
  padding: 30px 0;
}

header img {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

header h1{
  display: block;
  background-color: green;
  color: #FB0E7D;
  padding-left: 50%;
  padding-right: 50%;
}

h2{
  display: block;
  color: #333333;
  text-align: center;
  font-weight: 600;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  outline: #FB0E7D;
  font-size: 15px;
  font-weight: bold;

}

nav a:hover {
  color: #007BFF;
}

button, .search-container a, .btn-primary {
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007BFF;
}

.btn-secondary {
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #50C9C3;
}

.btn-secondary:hover {
  color: #DCEEFB;
}

/* Customize  Logout button on hover once logged in*/

button:hover {
  color: #DCEEFB;
}

/* Main content styles */
main {
  padding: 20px 0 120px;
}

main h2 {
  margin-bottom: 20px;
}

/* dashboard */
.dashboard {
  text-align: center;
}

.dashboard * {
  margin-bottom: 20px;
}

.search-container {
  max-width: 60%;
  margin: 0 auto;
}

.search-box input {
  padding: 0.4rem 1rem;
  margin-right: 10px;
}

.result-item {
  margin-bottom: 40px;
}

.inventory h2 {
  margin-bottom: 20px;
}
 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  gap: 20px;
}

 form input {
  padding: 6px 4px;
}

.inventory-card, .inventory-items {
  padding: 30px 0;
  max-width: 350px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

tr th, tr td {
  text-align: center;
  border: 1px solid black;
  padding: 10px 6px;
}

/* Footer styles */

 footer {
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

footer a {
  display: inline-block;
}

footer svg {
  font-size: 20px;
}