/* Customize Body Content/ /Customizes the resume page skills/

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #040F16;
  color: #01BAEF;

}

/ Customize Header Content/

header h1 {
  display: flex;
  /justify-content: space-between;/
  align-items: center;
  background-color: #0B4F6C;
  color: #01BAEF;
  padding: 1rem;
  width: 100%;
}

/ Customize Nav links placement*/

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #F9FAFB;
  color: #333333;
}

ul {
  list-style: none;
}

a {
  color: #007BFF;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Header styles */

header {
  background-color: #fff;
  padding: 30px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

header h1{
  display: block;
  background-color: green;
  color: #FB0E7D;
  padding-left: 50%;
  padding-right: 50%;
}

header h2{
  display: block;
  background-color: green;
  color: white;
  padding-left: 51.9%;
  padding-right: 48.1%;
}


nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  outline: #FB0E7D;
  font-size: 15px;
  font-weight: bold;

}

button {
  list-style-type: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4A90E2;
}

/* Customize  Logout button on hover once logged in*/

button:hover {
  background-color: #DCEEFB;
  color: #4A90E2;
}


/* Main content styles */
main {
  padding: 20px 0;
}

/* Footer styles */

 footer {
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  display: inline-block;
}

footer svg {
  font-size: 20px;
}